<!doctype html>
<html class="no-js" lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/overview.css">


                
    </head>
    <body style="background-color:#eaeaea">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


<ul>
<li><a><h4>Lesson Designs available for SIG x</h4></a>
<ul>
<li>
<a href="4.html" class="lessontitle">Here goes the lesson title</a><br> 
<p class="category">Topic 01, Topic 02, Topic 03</p>
<p class="description">Here goes a short description of the lesson.</p>
</li>
<li>
<a href="4.html" class="lessontitle">Mitosis and Cancer</a><br> 
<p class="category">Mitosis, Cell cycle, Interphase, Prophase, Anaphase, Metaphase, Telophase, Cytokinesis, Cancer, Cell division</p>
<p class="description">This lesson plan introduces the cell cycle, process of mitosis, and its importance in life and growth.</p>
</li>
<li>
<a href="4.html" class="lessontitle">Kinetic, Thermal, and Potential Energy</a><br> 
<p class="category">Kinetic, Thermal, Potential, Heat, Law of conservation</p>
<p class="description">Students will qualitatively and quantitatively analyze situations involving work, gravitational potential, kinetic, and thermal energy and its transfer using the law of conservation of energy.</p>
</li>
</ul>
</li>


</body>
</html>