<!doctype html>
<html class="no-js" lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="/lessonplans/css/GR1-5.css">
    </head>

    <div class="blocks">

  <%= form_for @conn, design_group_path(@conn, :submit), [name: :search, target: "_parent"], fn _ -> %>
  <%= raw ParamSession.form_session @conn %>
  <input type='hidden' name='id' value='<%= @design.id %>'>
            <h2><%= @design.title %></h2>
            <br>
            <p>Topics: <span class="category"><%= @design.description && @design.description["topics"] %></span></p>

            <div class="maincontent">
                <h3>Short description of the basic inquiry approach</h3>
                <p><%= @design.description && @design.description["description"] %></p>
            </div>

            <div class="maincontent">
                <h3>How can technology help students to build their own ideas and collaborate with peers?</h3>
                <p><%= @design.description && @design.description["howtech"] %></p>
            </div>
            <hr>
            <%= if @userlen < 6 && !@embedded do %>
              <% 
              did = @design.id
              text = case @already do
                x when is_nil(x) ->
               "Join the design team of this lesson"
                ^did -> 
                "You are a member of this group, click to open it"
                _ ->
                "Leave your current design team, and join this design team"
              end %>
              <input type="submit" value="<%= text %>" class="right" target="_top">
        <% end %>
        </div>


    <% end %>

</div>

<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script-->
<script>window.jQuery || document.write('<script src="/jsjquery-1.11.3.min.js"><\/script>')</script>
</script>
    </body>
</html>
