
<!doctype html>
<html class="no-js" lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Select a design group</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/lessonplans/css/main.css">
        <link rel="stylesheet" href="/css/accordion.css">
        <script src="/js/modernizr-2.8.3.min.js"></script>


                
    </head>
    <body style="background-color:#eaeaea">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div class="top">
<h2>Design Strand</h2>
<h1>INQ101x - Teaching with Technology and Inquiry</h1>
</div>

<div class="content">
<h3>Lesson Design Ideas</h3>
</div>
<iframe class="sidebar" name="sidebar" src="<%= ParamSession.gen_url(@conn, "/design_groups/select/sidebar") %>"></iframe>
<iframe class="maincontentiframe" name="maincontent" src="<%= ParamSession.gen_url(@conn, "/design_groups/select/overview") %>"></iframe>

</div>

</body>
</html>
