<div class='blocks'>
                        <script> Window.tags =  <%= tags %> </script>
                        <script> Window.choices =  <%= choices %> </script>
  <%= form_for @conn, "/register/submit", [name: :search], fn _ -> %>
  <%= registration %>
  <%= submit "Register" %>
  <% end %>
</div>
