<div class='blocks'>
                        <script> Window.tags =  <%= tags %> </script>
  <%= form_for @conn, tag_path(@conn, :submit), [name: :search], fn _ -> %>
  <%= registration %>
  <% end %>
</div>
