<!doctype html>
<html class="no-js" lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/lessonplans/css/normalize.css">
        <link rel="stylesheet" href="/lessonplans/css/reset.css">
        <link rel="stylesheet" href="/lessonplans/css/main.css">
        <link rel="stylesheet" href="/lessonplans/css/accordion.css">
        <script src="/lessonplans/js/vendor/modernizr-2.8.3.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div class="top">
<h2>Resources</h2>
<h1>INQ101x - Teaching with Technology and Inquiry</h1>
</div>

<div class="content">
<h3>Lesson Plans</h3>
<iframe class="sidebar" name="sidebar" src="<%= 
ParamSession.gen_url(@conn, "/lessondesigns/sidebar") %>"></iframe>
<iframe class="maincontent" name="maincontent" src="<%= 
ParamSession.gen_url(@conn, "/lessondesigns/overview") %>"></iframe>

</div>

        

        <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script-->
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="/lessonplans/js/plugins.js"></script>
        <script src="/lessonplans/js/masked-input.js"></script>
        <script src="/lessonplans/js/main.js"></script>
        
            
    </body>
    <SCRIPT>$("#accordion > li").click(function(){if(false==$(this).next().is(':visible')){$('#accordion > ul').slideUp(300);}
$(this).next().slideToggle(300);});$('#accordion > ul:eq(0)').show();</SCRIPT>

</html>
