<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Brainstorming</title>


  </head>
  <body>

    <script id="userstate" type="application/json">
{"user_id": <%= @user_id %>, "room": <%= @room %>}
    </script>
    <script src="/brainstorm/bundle.js"></script>
  </body>
</html>
