
<!doctype html>
<html class="no-js" lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Collaborative Workbench</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
        <link rel="stylesheet" href="css/normalize.css">
        
        <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="/css/jquery-ui-collab.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/collab-main.css">
        <link rel="stylesheet" href="/css/chat.css">

        
        <script src="/js/modernizr-2.8.3.min.js"></script>
        
 <script>
     $('document').ready(function() {
      console.log("tabs")
    $( "#tabs" ).tabs();
    $("#tabs").show();
  })
        </script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <script>
            Window.usernick = "<%= @user.nick %>"
            Window.userid = <%= @user.id %>
            Window.groupid = <%= @group.id %>
        </script>
<div class="top">
<h2>Collaborative Workbench</h2>
<h1>INQ101x - Teaching with Technology and Inquiry</h1>
</div>

<div class="content">

<div class="groupname">

    <h3><%= @group.title %></h3>


</div>
<div class="sidebar" name="sidebar">
<form id="textentry">
    <fieldset>

        <textarea id="input"></textarea>
    </fieldset>
    <br>
    <div>
            <input type="submit" value="submit" id="submit" class="right">
    </form>
</div>

<%# #----------- presence list ----------------------------- %>

<div class="people">
<ul>
    <%= for [id, person] <- @members do %>
        <%= if id != @user.id do %>
            <li class="offline presence" id="<%= id %>">
                <span class="name"><%= person %></span>
            </li>

        <% end %>
    <% end %>
</ul>
<%# #------------------------------------------------------- %>

</div>
<br>
    <hr>
<div class="chatarea">

    <script>
        user = '<%= @user.nick %>'
        userid = <%= @user.id %>
    </script>
</div>
<script src="/js/lodash.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/phoenix.js"></script>
<script src="/js/chat.js"></script>
</div>

<div class="maincontent">
<div id="tabs" class="ui-tabs ui-widget ui-widget-content" style="display: none;">

<!--To add new tabs, simply add a <li> in this list, using the same structure and following the link sequence. Then, add a new <iframe>, also using the same structure.--> 

    <ul style="padding: 0; margin: 0;" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix">
        <li class="context-tab ui-state-default"><a href="#ui-tabs-1">Prompt</a></li>
        <li class="context-tab ui-state-default"><a href="#ui-tabs-2">Explore resources</a></li>
        <li class="context-tab ui-state-default"><a href="#ui-tabs-3">Etherpad</a></li>
    </ul>
<form>
	<%# <fieldset> %>
       <input type="submit" class="right" value="LEAVE GROUP">
	<%# </fieldset> %>
</form>


<div id="ui-tabs-1"> 
    <br><br>
    <h1> Welcome to lesson design</h1>

    Lot's of text.
</div>
<div id="ui-tabs-2"> <iframe src="<%= ParamSession.gen_url(@conn, "/resource/list") %>"></iframe></div>

<div id="ui-tabs-3"><iframe class="ui-tabs-panel ui-widget-content" src="https://etherpad.mooc.encorelab.org/p/<%= @etherpad %>?userName=<%= @user.nick %>"></iframe></div>

</div>
</div>


</html>
