<!doctype html>
<html class="no-js" lang="en-us">
  <head>
    <base target="_parent" />    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Survey statistics</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <script src="/js/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" href="/css/tablesorter.blue/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/modernizr-2.8.3.min.js"></script>
    <style>
      input.text {
  border: 1px solid #ccc;
  background-color: #fcc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  }</style>
  </head>
  <body id=top>
    <div class="container">
      <div class="header">
        <% if get_flash(@conn, :info) || get_flash(@conn, :error) do %>
          <p class="alert alert-info"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger"><%= get_flash(@conn, :error) %></p>
        <% end %>
      </div>
    </div>
<script src="/js/jquery.tablesorter.min.js"></script>
<script>$(document).ready(function()
    {
        $("#groups").tablesorter();
    }
    ); </script>
<h1>Design groups</h1>

<table id='groups' class='tablesorter'>
  <thead>
    <th>id</th><th>SIG</th><th>Title</th><th>Members</th><th>Currently online</th>
    <th>Chats</th><th>Emails</th>
    <th>Wiki authors</th><th>Wiki revs</th><th>Wiki diff</th>
    <%= for wk <- 1..@etherpad_max do %><th>Etherpad wk<%= wk %> authors</th><th>Etherpad wk<%= wk %> diff</th><% end %>
  </thead>
  <tbody>
    <%= for group <- @groups do %>
      <tr>
        <td><%= group.id %></td>
        <td><%= group.sig_id %></td>
        <td><a href='/admin/collab/<%= group.id %>' target='_blank'><%= group.title %></a></td>
        <td><%= @num_members[group.id] %></td>
        <td><%= case length(@online[group.id] || []) do
          nil -> ""
          0 -> ""
          x -> raw "<b><font color=green>#{x}</font></b>"
          end
          %></td>
        <td><%= @chats[group.id] || 0 %></td>
        <td><%= @emails[group.id] || 0 %></td>
        <td>
          <%= group.wiki_contributors %>
        </td>
        <td><%= group.wiki_rev %></td>
        <td><a href='<%= group.wiki_url %>'><%= group.wiki_diff %></a></td>

        <%= for wk <- 1..@etherpad_max do %>
          <%= if group.etherpad_rev[wk] do %>
        <td><%= group.etherpad_rev[wk][:authors] %></td>
        <td><a href='https://etherpad.mooc.encorelab.org/p/<%= group.etherpad_rev[wk][:hash] %>'><%= group.etherpad_rev[wk][:diff] %></a></td>
        <%= else %>
        <td><%= %></td>
        <td><%= %></td>
      <% end %>
      <% end %>
      </tr>
      <% end %>
  </tbody>
</table>


  </body>
</html>
