Hi, <%= name %>. <%= entered_name %> just entered your design group <b><%= design_name %></b>. <a href='<%= Mail.gen_url(id, basename <> "/collab") %>'>Click here</a> to open your design group, and join in the design work.<P><br>

  <p>Please don't respond to this email, replies will not be received. Add a message in the Tech issues thread in the forum, if you have any concerns.</p>

  <a href='<%= Mail.gen_url(id, basename <> "/email/unsubscribe/collab") %>'>Unsubscribe from design group notifications</a> | <a href='<%= Mail.gen_url(id, basename <> "/email/unsubscribe/all") %>'>Unsubscribe from all personalized emails</a>
