@charset "UTF-8";
/* CSS Document */

html {overflow-x: hidden; overflow-y: auto;}
body {font-family: Calibri, Verdana, Geneva, sans-serif; padding:1em}
h2 {font-family: Calibri; font-size:3em; color:#ED7D31; text-transform:uppercase; font-weight:lighter; line-height:1em; margin:0.7em 0}
h3  {font-family: Calibri; font-size:1.1em; text-transform:uppercase; font-weight:lighter; letter-spacing:0.2em; margin-bottom:-0.5em}

.duration {float:right; background-color:#ED7D31; color:#FFF; padding:0.2em 1em; font-size:0.9em}
.leftcolumn {width:65%; float:left; margin-bottom:2em}
.rightcolumn {width:30%; float:right; margin-bottom:2em}
.maincontent {margin-bottom:3em}

.box1 {background-color:#FBE4D5; padding:1em}
.box2 {background-color:#E7E6E6; padding:1em}

.image {margin:-16px 0; padding:0px}

ul.checkmark li {
    background: url("../img/checkmark.png") no-repeat 0 50%;
	background-position:top left;
    padding-left: 26px;
	margin-left: -26px;
}

ul.checkmark {
    list-style-type: none;
}

li {margin-bottom: 10px;}

table {margin-top:1em}
td {vertical-align:top}
td p {margin:0; padding:5px}
.table {clear:both;}
.tableheader1 {background-color:#FBE4D5}
.tableheader2 {background-color:#F7CAAC; text-align:center}

.stepsController {}
.stepsController a, form input[type="submit"] {
    display: block;
    float: right;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 15px;
    background: #0877B0;
    color: #fff;
    border-radius: 5px;
}

form input[type="submit"] {
    background: #66B008;
}

.block {}
.block > h3 {text-transform: uppercase;}
.block fieldset {}
.block fieldset fieldset {padding: 10px 20px 0px 30px; border-left: solid 2px #ccc; margin: 10px 20px;}
.block fieldset fieldset p {margin: 20px 0 10px 0;}
.block fieldset h4 {
    margin: 30px 0 10px 0;
    color: #0877b0;
}
.block fieldset h5 {
    color: #0877b0;
    margin: 0px 0px 10px 0px;
}

.block fieldset input[type="text"], .blocks form .block fieldset input[type="email"] {
    width: 100%;
    border: solid 1px #ccc;
} 
.block fieldset textarea {
    border: solid 1px #ccc;
    width: 100%;
    height: 100px;
    overflow-y: auto;
}
.block fieldset > label {
    display: block;
    padding: 10px 20px;
}
.block fieldset > label:hover {
    background: #ddd;
    cursor:pointer;
}
.block fieldset > label input[type="radio"], .blocks form .block fieldset > label input[type="checkbox"] {
    float: left;
    margin: 0 10px 0 0;
}
.block fieldset > label input[type="radio"] + span, .blocks form .block fieldset > label input[type="checkbox"] + span {
    display: block;
}
.block fieldset .table {
    margin: 30px 0 0 0;
    width: 740px;
    overflow: hidden;
}
.block fieldset .table .line {
    overflow: auto;
}
.block fieldset .table .line:hover {background: #eee;}
.block fieldset .table .line .cell {
    float: left;
    width: 12%;
    height: 90px;
    border-right: solid 1px #ddd;
}

.block fieldset .table .line .cellgradient4 { background: #0F00E5; }
.block fieldset .table .line .cellgradient3 { background: #2C1CEB; } 
.block fieldset .table .line .cellgradient2 { background: #4A39F1; } 
.block fieldset .table .line .cellgradient1 { background: #6855F7; } 
.block fieldset .table .line .cellgradient0 { background: #8672FD; } 


.block fieldset .table .line.answers .cell {
    width: 12%
    text-align: center;
    font-size: 13px;
    padding: 30px 20px;
    font-weight: bolder;
    /* background: #0877B0; */
    color: #fff;
    border-right-color: #076A9D;
}
.block fieldset .table .line.answers .cell.exception {
    background: #fff;
    width: 40%;
}


.block fieldset .table .line .cell.answer {
    border-bottom: solid 1px #ddd;
}
.block fieldset .table .line .cell.answer:hover {
    background: #ccc;
}

.block fieldset .table .line .cell.question {
    font-size: 13px;
    padding: 5px 15px 0 0;
    /* background-color: #fff; */
    line-height: 15px;
    width: 40%;
}
.block fieldset .table .line .cell label {
    display: block;
    text-align: center;
    height: 100%;
    padding: 35px 0;
    cursor: pointer;
}
.block fieldset .table .line .cell label input[type="radio"] {
    cursor: pointer;
}
.block fieldset .table .line .cell label input[type="radio"] + span {
}

